{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Liste des patients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.sex == 'M' ? 'Masculin' : 'Feminin' }}</td>
                <td>{{ patient.phone }}</td>
                <td>
                    <a href="{{ path('app_patient_show', {'id': patient.id}) }}">Voir</a>
                    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune occurence</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
