{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Détail du patient</h1>
    <a class="btn btn-secondary" href="{{ path('app_patient_edit', {'id': patient.id}) }}">Modifier</a>
    <a class="btn btn-secondary" href="{{ path('app_appointment_new', {'patient': patient.id}) }}">Nouveau rendez-vous</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.name }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ patient.sex == 'M' ? 'Masculin' : 'Féminin' }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ patient.birthDate ? patient.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse de résidence</th>
                <td>{{ patient.address }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ patient.phone }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
