{% extends 'base.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block body %}
    <h1>Medecin</h1>
    <a class="btn btn-secondary" href="{{ path('app_doctor_edit', {'id': doctor.id}) }}">Modifier</a>
    <hr/>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ doctor.name }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ doctor.phone }}</td>
            </tr>
            <tr>
                <th>Spécialité</th>
                <td>{{ doctor.speciality }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
