{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
    <h1>Liste des rendez vous  </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Date</th>
                <th>Patient</th>
                <th>Medecin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.patient.name }}</td>
                <td>{{ appointment.doctor.name }}</td>
                <td>
                    <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">details</a>
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
